#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) INSTALLDIR=/usr/local

override_dh_auto_install:
	$(MAKE) INSTALLDIR=/usr/local DESTDIR=$(CURDIR)/debian/sarndbox install

override_dh_auto_clean:
	$(MAKE) clean || true
